<header>
    <app-menu></app-menu>
</header>
 <section id="banner">
  <section class="vh-100">
    <div class="formulario">
      <h1>Login</h1>
      <form action="" method="post">
        <div class="username">
          <input type="text" required>
          <label for="">Nombre de usuario</label>
        </div>
        <div class="username">
          <input type="password" required>
          <label for="">Contraseña</label>
        </div>
        <div class="recordar">¿Olvido su contraseña?</div>
        <input type="submit" value="Ingresar">
        <div class="registrarse">
          Hacer Registro <a href="/Register">Registro</a>
        </div>
      </form>
    </div> 
  </section>
</section>
<footer>
    <app-footer></app-footer>
</footer>

