<header>
    
</header>

<div class="col" *ngFor="let habitacion of listahabitaciones">
  <div class="card h-100">
    <h4 class="text-center text-muted my-3">{{habitacion.nombre}}</h4>
    <img src="{{habitacion.foto}}" alt="" class="img-fluid w-100 h-100">
</div>
</div>

<section id="banner">
    <table class="table table-border table-sm">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</section>
<footer>
    <app-footer></app-footer>
</footer>

