<div class="card text-center">
    <div class="card-header">
      <h1>HotelTryGo</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">El Hotel TryGo te ofrece exquisita gastronomía, piscina climatizada, gimnasio, zonas húmedas y una inmensa variedad de servicios que hacen más amable y agradable la estadía en la sorprendente capital Antioqueña siendo de los lugares mas reconocidos de la region por su gran atención y buen servicio.</p>
    </div>
    <div class="card-footer text-muted">
      Hoteles TryGo
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
    </div>
</div>
<br>
<section>
  <div class="container">
    <div class="row" id="fila">
      <div class="col">
        <div class="card h-100 border border-5 border-dark">
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text ">Excelente ubicación, al lado de  los centros  comerciales más exclusivos de la ciudad. Con una vista excelente de la ciudad  desde cualquiera de las habitaciones para delietar tu vista y sentirte como en casa.
            </p>
            <img src="../../assets/img/card1.jpg" class="card-img-top" alt="card-2"> 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border border-5 border-dark">  
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text">Habitaciones de lujo con gran comodidad, contamos con un staff de alto nivel que estara a tu servicio las 24hr, dispuesto a brindarte la mejor estadia de tu vida en este lugar maravilloso.</p>
            <img src="../../assets/img/card2.jpg" class="card-img-top" alt="card-2">
            </div>                
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border border-5 border-dark">
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text">La amabilidad de nuestro personal nos caracteriza, tambien contaras con asesorias sobre planes de turimos para tu mayor comodidad y beneficio brindandote una expectacular estadia.</p>
            <img src="../../assets/img/card3.webp" class="card-img-top" alt="card-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  

