<footer class="pie-pagina">
  <div class="grupo1">
    <div class="box">
      <figure>
        <a href="">
          <img src="../../../assets/img/logo1.png" alt="Logo">
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Hotel fundado en el 2000 con una sola sede en Antioquia y hace 10 años empezamos con la inaguración de varias sedes mas por todo el país.</p>
      <p>Hotel TryGo
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i></p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
  <div class="grupo2">
    <small>&copy; 2022 <b>TryGo</b> - Todos los derechos Reservados.</small>
  </div>
</footer>
