<header>
    <app-menu></app-menu>
</header>
<section id="banner">
  <section class="vh-100">
    <!-- <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/img/logo2.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3 text-white">Register</p>
              <button type="button" class="btn btn-primary btn-floating mx-1 bg-dark">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1 bg-dark">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1 bg-dark">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-white"></p>
            </div>
  
            
            <div class="form-outline mb-4">
            <label class="form-label text-white" for="form3Example3"> Name</label>
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid Name" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label text-white" for="form3Example3">Email address</label>
                  <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label text-white" for="form3Example3">Password</label>
                      <input type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid Password" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label text-white" for="form3Example3">Confirm Password</label>
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter a valid Confirm Password" />
                      </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-floating mx-1 bg-dark"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div class="formulario">
      <h1>Register</h1>
      <form action="" method="post">
        <div class="username">
          <input type="text" required>
          <label for="">Nombre de usuario</label>
        </div>
        <div class="username">
          <input type="text" required>
          <label for="">Email</label>
        </div>
        <div class="username">
          <input type="password" required>
          <label for="">Contraseña</label>
        </div>
        <div class="username">
          <input type="password" required>
          <label for="">Confirm Contraseña</label>
        </div>
        <input type="submit" value="Registrar">
        <div class="registrarse">
          Quiere Iniciar Sesion  <a href="/login">Iniciar Sesion</a>
        </div>
      </form>
    </div> 
    
  </section>
</section>
<footer>
    <app-footer></app-footer>
</footer>